h1{
 
    font-size: 40px;
    font-weight: bold;
    color:rgb(30, 88, 86);
    font-family:Time new Roman;
    margin-top: 100px;
    position: absolute;
}
marquee{
    font-size: 40px;
    font-weight: bold;
    color:rgb(150, 82, 26);
    font-family:Arial, Helvetica, "sans-serif",Times New Roman, Times, serif;
    margin-top: 10PX;
}


p{
    font-size: 25px;
    color:rgb(156, 179, 214);
    font-family:Time new Roman;
    position: absolute;
    margin-right: 500px;
    margin-top: 200px;
}

img.veg{
    width:400px;
    height: 500px;
    position: absolute;
    margin-left: 900px;
    margin-top: 100px;
    border: 2px solid black;

}

img.heal{
    margin-top: 700px;
    width: 500px;
    height:500px;
    margin-right: 150px;
    border: 3px solid black;
}