body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
   
}

form{
    background-color: white;
    padding:30px;
    text-align:center;
    border-radius: 15px;
    width:350px;
}

form input{
    display:block;
    background:none;
    margin:18px auto;
    padding: 8px;
    border:2px solid rgb(0, 0, 0);
    outline:none;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

form input[type="submit"]{
    cursor:pointer;
    font-size:20px;
    background-color: rgb(7, 7, 80);
    color:white;
    width: 200px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}

